<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Hamit YAY</h1>
		<p>I am learniing ruby n rails and practising a lot.</p>
		<p>This site is an example of my work which is created using ruby on rails.</p>
		<p>You can post a blog and you can comment about posts. To see me on Twitter <a href="https://twitter.com/hMt_y">@hMt_y</a></p>
	</div>
</div>
